:root {
  --primary: #3b4a54;
  --secondary: #667781;
  --app-background: #eae6df;
  --app-background-deeper: #d1d7db;
  --h-pane-header: 59px;
  --h-text-panel: 62px;
  --panel-header-background: #f0f2f5;
  --border-stronger: #e9edef;
  --rich-text-panel-background: #f0f2f5;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--primary);
}
